name: CI
on:
    push:
        branches: [ main ]
        paths:
            - "src/**"
            - "data/**"
            - "tests/**"
            - "requirements.txt"
            - "pyproject.toml"
            - ".github/workflows/**"
    pull_request:
        paths:
            - "src/**"
            - "data/**"
            - "tests/**"
            - "requirements.txt"
            - "pyproject.toml"
            - ".github/workflows/**"

jobs:
    lint-and-format:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - name: Check out repository
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: 3.11
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            - name: Run ruff linting check
              run: |
                ruff check .
            - name: Run ruff format check
              run: |
                ruff format . --check
    test:
      runs-on: ubuntu-latest
      timeout-minutes: 10
      steps:
          - name: Check out repository
            uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: 3.11
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          - name: Run tests with pytest
            run: pytest -v
    build-and-push:
      runs-on: ubuntu-latest
      timeout-minutes: 10
      needs: [ lint-and-format, test ]
      steps:
          - name: Check out repository
            uses: actions/checkout@v4
          - name: Log in to Docker Hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_TOKEN }}
          - name: Build and push Docker image
            uses: docker/build-push-action@v5
            with:
              context: .
              push: true
              tags: ${{ secrets.DOCKER_USERNAME }}/sentiment-analysis-app:latest
